@tailwind base;
@tailwind components;
@tailwind utilities;

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="date"],
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="datetime"],
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="datetime-local"],
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="email"],
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="month"],
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="number"],
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="password"],
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="range"],
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="search"],
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="tel"],
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="text"],
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="time"],
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="url"],
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="week"],
div.wpforms-container-full .wpforms-form .wpforms-field-container select,
div.wpforms-container-full .wpforms-form .wpforms-field-container textarea {
    background-color: #fff;
    box-sizing: border-box;
    border-radius: .375rem;
    color: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    float: none;
    font-size: .875rem;
    font-family: inherit;
    border: 1px solid #ccc;
    padding: .5rem .75rem;
    width: 100%;
    line-height: 1.5;
}

div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="date"]:focus,
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="datetime"]:focus,
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="datetime-local"]:focus,
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="email"]:focus,
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="month"]:focus,
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="number"]:focus,
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="password"]:focus,
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="range"]:focus,
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="search"]:focus,
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="tel"]:focus,
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="text"]:focus,
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="time"]:focus,
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="url"]:focus,
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type="week"]:focus,
div.wpforms-container-full .wpforms-form .wpforms-field-container select:focus,
div.wpforms-container-full .wpforms-form .wpforms-field-container textarea:focus {
    border: 1px solid #999;
}

div.wpforms-container-full .wpforms-form .wpforms-submit-container input[type="submit"],
div.wpforms-container-full .wpforms-form .wpforms-submit-container button[type="submit"],
div.wpforms-container-full .wpforms-form .wpforms-submit-container .wpforms-page-button {
    background-color: #eee;
    border-radius: .375rem;
    border: 1px solid #ddd;
    color: #333;
    font-size: 1em;
    padding: 10px 15px;
}

div.wpforms-container-full .wpforms-form .wpforms-submit-container input[type="submit"],
div.wpforms-container-full .wpforms-form .wpforms-submit-container button[type="submit"],
div.wpforms-container-full .wpforms-form .wpforms-submit-container .wpforms-page-button {
    background-color: #cf2e2e;
    color: #fff;
    border-width: 1px;
    border-color: transparent;
    font-weight: bold;
    border-radius: 0.375rem;
    font-size: 1em;
    line-height: 1.5rem;
    padding: 0.75rem 2rem;
/*    line-height: 1.3;
    height: 38px;
    padding: 6px 10px;*/
}

div.wpforms-container-full .wpforms-form .wpforms-submit-container input[type="submit"]:hover,
div.wpforms-container-full .wpforms-form .wpforms-submit-container button[type="submit"]:hover,
div.wpforms-container-full .wpforms-form .wpforms-submit-container .wpforms-page-button:hover {
    background-color: rgb(185 28 28);
}

div.wpforms-container-full .wpforms-form .wpforms-submit-container input[type="submit"]:enabled,
div.wpforms-container-full .wpforms-form .wpforms-submit-container button[type="submit"]:enabled,
div.wpforms-container-full .wpforms-form .wpforms-submit-container .wpforms-page-button:enabled {
    background-color: #cf2e2e;
}